
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{

    background: radial-gradient(circle at top right, #5f3dc4, #0f172a 40%);
    color: white;
    min-height: 100vh;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #7c4dff;
}

nav a {
    text-decoration: none;
    color: #ccc;
    margin: 0 15px;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}

.talk-btn {
    background: #7c4dff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

/* Hero Section */
.hero {
    text-align: center;
    margin-top: 100px;
    padding: 0 20px;
}

.tag {
    color: #7c4dff;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.3;
}

.hero h1 span {
    color: #7c4dff;
}

.description {
    margin-top: 20px;
    color: #aaa;
    font-size: 16px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Buttons */
.buttons {
    margin-top: 40px;
}

.primary-btn,
.secondary-btn {
    padding: 12px 28px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin: 0 10px;
    transition: 0.3s;
}

.primary-btn {
    background: #7c4dff;
    color: white;
}

.secondary-btn {
    background: #5f3dc4;
    color: white;
}

.primary-btn:hover,
.secondary-btn:hover,
.talk-btn:hover {
    opacity: 0.85;
}