body{

    padding: px;
    background-color: white;
}
h1{

    color: black;
}

.box1 {
    height: 450px;
    width: 450px;
    background-color: yellow;
    padding: 20px;
    margin: 20px;
    
}
.box1:hover {
    background-color: green;}
.box2 {
    height: 300px;
    width: 300px;
    background-color: red;
  
}

    
.box2:hover {
    background-color: pink;
}
.box3 {
    height: 150px;
    width: 150px;
    background-color: blue;
    padding: 20px;
    margin: 20px;
}
.box3:hover {
    background-color: purple;
}
.btn{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}