* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

.footer {
    background-color: #1b5e4b;
    color: white;
    padding: 50px 80px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer-left h2 {
    font-size: 28px;
}

.green {
    color: #4CAF50;
}

.orange {
    color: #f9a825;
}

.footer-left p {
    margin-top: 8px;
    font-size: 14px;
}

.contact p {
    margin-top: 15px;
    font-size: 15px;
}

.contact i {
    margin-right: 10px;
    color: #f9a825;
}


.footer-middle {
    text-align: center;
}

.links {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}

.links ul {
    list-style: none;
}

.links li {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
}

.links li:hover {
    color: #f9a825;
}

.social i {
    font-size: 18px;
    margin: 0 10px;
    padding: 10px;
    background: #f9a825;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.social i:hover {
    background: white;
}


.footer-right {
    max-width: 300px;
}

.footer-right h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-right p {
    font-size: 14px;
    margin-bottom: 20px;
}

.newsletter {
    display: flex;
    border: 1px solid white;
    border-radius: 25px;
    overflow: hidden;
}

.newsletter input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
}

.newsletter button {
    padding: 10px 20px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.newsletter button:hover {
    background: #f9a825;
    color: black;
}